*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
html{
	height: 100%;
}
body{
	background: url(../img/body-bg.png) no-repeat center top;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	height: 100%;
}
.wrapper{
	min-height: 100%;
	position: relative;
	padding-bottom: 100px;
}
.header-container{
	width: 940px;
	margin: 0 auto;
	background: url(../img/header-bg.png) no-repeat -18px top;
	padding-bottom: 2px
}
.header-container .logo{
	display: inline-block;
	vertical-align: top;
	background: url(../img/logo.png) no-repeat center;
	width: 202px;
	height: 140px;
	margin: -2px 0 0 -13px
}
.header-title{
	display: inline-block;
	vertical-align: top;
	width: 165px;
}
.header-title h2{
	padding-top: 20px;
	color: #504f4c;
	font-size: 12px;
	line-height: 18px;
}
.header-title a{
	text-decoration: none;
	color: #0490ad;
	font-size: 14px;
	font-weight: bold;
}
.header-title a:hover{
	text-decoration: underline;
}
.header-title a:visited{
	color: #0490ad;
}

.header-enter{
	float: right;
	text-align: center;
	width: 135px;
	font-size: 12px;
	padding-top: 45px;
	line-height: 24px;
}
.header-enter a{
	color: #0490ad;
}
.header-enter a:hover{
	text-decoration: none;
}
.header-enter a:visited{
	color: #0490ad;
}
.header-nav-wrapper{
	background: #58c8dd;
}
.header-nav{
	width: 940px;
	margin: 0 auto;
}
nav{
	display: inline-block;
	vertical-align: top;
}
nav ul{
	margin: 0 0 0 2px;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
}
nav li{
	display: inline-block;
	vertical-align: top;
	margin-left: -4px;
	border-left:1px solid #7adcec;
	border-right:1px solid #00bbdb;
	position: relative;
}
nav li:first-child{
	margin-left: 0;
}
nav li:first-child:after{
	position: absolute;
	content: '';
	width: 1px;
	height: 35px;
	top: 0;
	left: -2px;
	background: #00bbdb;
}
nav li:nth-child(3){
	margin-left: -5px
}nav li:last-child:after{
	position: absolute;
	content: '';
	width: 1px;
	height: 35px;
	top: 0;
	right: -2px;
	background: #7adcec;
}
nav li.active{
	background: #2facc3;
}
nav li.active:before{
	position: absolute;
	content: '';
	border: 6px solid #2facc3;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	bottom: -12px;
	left: 50%;
	margin-left: -6px
}
nav li a{
	display: block;
	text-decoration: none;
	height: 35px;
	padding: 9px 26px 0;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}
nav li a:hover{
	background: #2facc3;
}
.header-social{
	float: right;
	width: 200px;
	margin-right: 3px;
	text-align: right;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.header-social a{
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: top;
	margin-top: 4px;
	margin-left: 6px;
	border-radius: 50%;
}
.header-social .facebook{
	background: url(../img/sprites.png) no-repeat -69px -63px;
}
.header-social .twitter{
	background: url(../img/sprites.png) no-repeat -12px -63px;
}
.header-social .odnoklasniki{
	background: url(../img/sprites.png) no-repeat -12px -6px;
}
.header-social .vk{
	background: url(../img/sprites.png) no-repeat -69px -6px;
}
.header-social a:hover{
	box-shadow: 0 0 3px 0 #fff;
}
.header-social a:active{
	box-shadow: inset 0 0 6px 1px rgba(0,0,0,0.6);
}

.content-container{
	width: 940px;
	margin: 0 auto;
	padding-bottom: 131px;
}
.content-container:after{
	content: '';
	display: table;
	clear: both;
}
.main{
	width: 71.5%;
	float: left;
}
.main-title{
	margin-top: 28px;
	font-size: 17px;
	color: #2798b3;
}
.main-title h1{
	color: #fd7c1e;
	display: inline-block;
	vertical-align: top;
	margin: 0 40px 0 0;
	font-size: 31px
}
.main-title .jq-selectbox{
	margin-top: -6px!important;
}
.main-title .jq-selectbox:after{
	position: absolute;
	content: '';
	border-bottom: 1px dashed #2798b3;
	width: 68%;
	bottom: 4px;
	left: 3px;
}
.main-title span{
	display: inline-block;
	vertical-align: top;
	padding-top: 12px;
}

.main-title .jq-selectbox__select{
	border: 0!important;
	background: none!important;
	box-shadow: none!important;
	color: #2798b3!important;
	font-size: 18px!important;
	padding-left: 0!important;
}
.main-title .jq-selectbox__trigger{
	border: 0!important;
}
.main-title .jq-selectbox__trigger-arrow{
	right: auto!important;
	left: 0!important;
	border-top-color: #2798b3;
}
.main-title  .jq-selectbox li {
    -moz-user-select: none;
    color: #231f20;
    min-height: 18px;
    padding: 5px 10px 6px;
    white-space: normal!important;
    width: 155px!important;
}
.search-form-tabs{
	margin-top: 23px
}
.search-form-tabs input{
	display: none;
}
.form-tabs-button label{
	display: inline-block;
	height: 31px;
	min-width: 94px;
	text-align: center;
	padding: 6px 15px;
	color: #fff;
	background: #58c8dd;
	margin-left: -3px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	cursor: pointer;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	-ms-transition: background 0.2s;
	transition: background 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.form-tabs-button label:first-child{
	margin-left: 0;
}
.form-tabs-button label:nth-child(3){
	margin-left: -3px;
}
.form-tabs-button label:nth-child(4){
	margin-left: -3px;
}
#form-tab1:checked ~ .form-tabs-button #form-label1,
#form-tab2:checked ~ .form-tabs-button #form-label2,
#form-tab3:checked ~ .form-tabs-button #form-label3,
#form-tab4:checked ~ .form-tabs-button #form-label4{
	background: #f2b954;
}

.tab{
	background:  url(../img/form-bg1.png) no-repeat right top, #f2b954;
	margin-right: 2px;
	min-height: 173px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: none;
	padding: 20px 33px;
	position: relative;
}
#form-tab1:checked ~ .tab.one,
#form-tab2:checked ~ .tab.two,
#form-tab3:checked ~ .tab.three,
#form-tab4:checked ~ .tab.four{
	display: block;
}
.tab .jq-selectbox .jq-selectbox__select{
	border-radius: 10px;
	border: 0;
	background: #fff;
}
.tab .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger{
	background: -webkit-linear-gradient(top, #ccde5b, #a9c93c);
	background: -moz-linear-gradient(top, #ccde5b, #a9c93c);
	background: -ms-linear-gradient(top, #ccde5b, #a9c93c);
	background: linear-gradient(top, #ccde5b, #a9c93c);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-left: 0;
}
.tab .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger-arrow{
	border-top-color: #fff;
	opacity: 1;
}
.tab .jq-selectbox{
	width: 130px;
	margin-right: 17px
}
.tab .jq-selectbox:first-child{
	margin-right: 10px
}
.tab .jq-selectbox:first-child,
.tab .jq-selectbox:first-child+.jq-selectbox{
	width: 210px;
	margin-bottom: 13px
}
.tab button{
	position: absolute;
	width: 173px;
	height: 35px;
	color: #fff;
	border: 2px solid #55651d;
	border-radius: 20px;
	background: -webkit-linear-gradient(top, #a6cf00, #81b100);
	background: -moz-linear-gradient(top, #a6cf00, #81b100);
	background: -ms-linear-gradient(top, #a6cf00, #81b100);
	background: linear-gradient(top, #a6cf00, #81b100);
	bottom: 17px;
	left: 170px;
	outline: none;
}
.tab button:hover{
	background: #81b100;
}
.tab button:active{
	box-shadow: inset 0 0 6px 1px rgba(0,0,0,0.6);
}

.main-news{
	margin-top: 42px;
}
.main-news h2{
	font-size: 20px;
	color: #504f4c;
	font-weight: normal;
	margin-bottom: 26px;
}
.main-news article{
	position: relative;
	margin: 17px 0 0px 1px;
	padding-bottom: 12px;
	padding-right: 23px;
}
.main-news article:after{
	position: absolute;
	content: '';
	width: 95%;
	height: 1px;
	bottom: 0;
	left: 0;
	background: #b1ebee;
}
.main-news article img{
	float: left;
	margin-right: 23px;
	margin-top: 3px;
	border-radius: 9px;
}
.main-news article h2{
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	line-height: 24px;
}
.main-news article h2 a{
	color: #0490ad;
}
.main-news article h2 a:hover{
	text-decoration: none;
}
.main-news article p{
	color:#2f2e2c;
	font-size: 13px;
	margin: 16px 0 16px;
	line-height: 18px;
}
.all-news{
	display: block;
	width: 127px;
	height: 29px;
	text-align: center;
	color: #fff;
	background: #a8d100;
	border-radius: 10px;
	margin: 16px 0 0 281px;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	background: -webkit-linear-gradient(top, #a8d100, #7eb000);
	background: -moz-linear-gradient(top, #a8d100, #7eb000);
	background: -ms-linear-gradient(top, #a8d100, #7eb000);
	background: linear-gradient(top, #a8d100, #7eb000);
	padding-top: 6px;
}
.all-news:hover{
	background:  #7eb000;
}
.all-news:active{
	box-shadow: inset 0 0 6px 1px rgba(0,0,0,0.6);
}
.about-us{
	margin-top: 52px;
	padding-right: 47px;

}
.about-us h3{
	font-weight: normal;
	font-size: 24px;
	color: #fd7c1e;
	margin-bottom: 26px;
}
.about-us p{
	font-size: 13px;
	color: #2f2e2c;
	margin-top: 17px;
	line-height: 18px;
}

aside{
	width: 26.5%;
	float: right;
	margin-top: 117px;
}
.subscribe-form{
	background: -webkit-linear-gradient(45deg, #e2f3ff, #93e0ea);
	background: -moz-linear-gradient(45deg, #e2f3ff, #93e0ea);
	background: -ms-linear-gradient(45deg, #e2f3ff, #93e0ea);
	background: linear-gradient(45deg, #e2f3ff, #93e0ea);
	padding-bottom: 17px;
	border-radius: 10px;
}
.subscribe-form input{
	display: block;
	outline: none;
	border: 0;
	background: #fff;
	color: #504f4c;
	margin: 11px 0 0 17px;
	width: 219px;
	height: 30px;
	border-radius: 7px;
	padding: 0 5px 0 12px;
	text-align: center;
}
.aside-title{
	font-size: 18px;
	color: #504f4c;
	padding: 18px 17px 0;
	text-align: center;

}
.subscribe-form button{
	display: block;
	width: 127px;
	height: 29px;
	text-align: center;
	color: #fff;
	background: #a8d100;
	border-radius: 10px;
	margin: 15px 0 0px 64px;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	background: -webkit-linear-gradient(top, #a8d100, #7eb000);
	background: -moz-linear-gradient(top, #a8d100, #7eb000);
	background: -ms-linear-gradient(top, #a8d100, #7eb000);
	background: linear-gradient(top, #a8d100, #7eb000);
	padding-top: 3px;
	border: 0;
	outline: none;
}
.subscribe-form button:hover{
	background:  #7eb000;
}
.subscribe-form button:active{
	box-shadow: inset 0 0 6px 1px rgba(0,0,0,0.6);
}
.social-news{
	margin-top: 42px;
}
.social-news .aside-title{
	padding: 0  0 0 5px;
	font-size: 20px;
}
.social-news-wrapper{
	background: #e6fdff;
	margin: 17px 0 0  0;
	padding-top: 1px;
	position: relative;
	padding-bottom: 11px;
	border-radius: 10px;
}
.social-news-wrapper .social-link{
	color: #0490ad;
	font-size: 12px;
	text-decoration: none;
	display: block;
	margin: 19px 50px;
	position: relative;
}
.social-news-wrapper .social-link img{
	position: absolute;
	width: 26px;
	height: 26px;
	left: -32px;
	top: -4px;
}
.social-news-wrapper .date{
	position: absolute;
	top: 18px;
	right: 0px;
	width: 50px;
	padding-right: 2px;
	font-size: 12px;
	color: #504f4c;
}
.social-news-wrapper p{
	font-size: 12px;
	color: #2f2e2c;
	padding: 0 18px;
	line-height: 17px;
	margin-bottom: 0;
}
.social-news-wrapper .big-news{
	font-size: 12px;
	color: #0490ad;
	margin: 5px 17px 5px;
	display: block;
}
.social-news-wrapper .big-news:hover{
	text-decoration: none;
}

.banner-zone{
	margin-top: 52px;
}
.banner{
	margin-bottom: 0;
}

footer{
	background: url(../img/footer-bg.png) no-repeat 0 bottom;
	width: 940px;
	margin: 0 auto;
	padding-top: 47px;
	text-align: center;
	font-size: 12px;
	color: #2f2e2c;
	line-height: 25px;
	padding-bottom: 10px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -470px;
}
footer a{
	color: #339db6;
}
footer p{
	margin-bottom: 0;
}
footer a:hover{
	text-decoration: none;
}


/**************************** login page ************************************/

.login{
	max-width: 668px;
	margin: 69px auto;
}
.login input[type="radio"]{
	display: none;
}
.login label{
	display: inline-block;
	vertical-align: top;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	background: #58c8dd;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-right: -2px;
	padding: 6px 20px;
}
.login .login-tab{
	display: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: -webkit-linear-gradient(164deg, #f2b954, #f2b954 30%, #fdda2f);
	background: -moz-linear-gradient(164deg, #f2b954, #f2b954 30%, #fdda2f);
	background: -ms-linear-gradient(164deg, #f2b954, #f2b954 30%, #fdda2f);
	background: linear-gradient(164deg, #f2b954, #f2b954 30%, #fdda2f);
	padding: 31px 21px 32px;
}
.forget-pass{
	float: right;
	color: #0490ad;
	font-size: 12px;
	margin: 7px 0;
	text-decoration: underline;
}
.forget-pass:hover{
	text-decoration: none;
}
.login .login-tab input{
	display: inline-block;
	vertical-align: top;
	border: 0;
	border-radius: 8px;
	width: 240px;
	height: 28px;
	padding: 0 15px;
	outline: none;
}
.login .login-tab input:first-child{
	margin-right: 16px;
}
.login .login-tab button{
	display: inline-block;
	border: 0;
	outline: none;
	background: #a8d100;
	background: -webkit-linear-gradient(top, #a8d100, #7eb000);
	background: -moz-linear-gradient(top, #a8d100, #7eb000);
	background: -ms-linear-gradient(top, #a8d100, #7eb000);
	background: linear-gradient(top, #a8d100, #7eb000);
	color: #fff;
	margin-left: 13px;
	vertical-align: top;
	width: 108px;
	height: 28px;
	text-transform: capitalize;
	font-size: 14px;
	border-radius: 10px;
}
.login .login-tab button:hover{
	background: #7eb000;
}

#login-tab1:checked ~ .login-tab.one,
#login-tab2:checked ~ .login-tab.two{
	display: block;
}
#login-tab1:checked + label,
#login-tab2:checked + label{
	background: #f2b954;
}
.log-page footer{
	background: url(../img/log-footer-bg.png) no-repeat 0 bottom;
	padding-top: 60px;
	padding-bottom: 19px;
}

.reg-type{
	margin: 43px auto;
	position: relative;
	width: 250px;
	height: 161px;
	text-align: center;
	background:  #93e0ea;
	background: -webkit-linear-gradient(left top, #e2f3ff, #93e0ea);
	background: -moz-linear-gradient(left top, #e2f3ff, #93e0ea);
	background: -ms-linear-gradient(left top, #e2f3ff, #93e0ea);
	background: linear-gradient(left top, #e2f3ff, #93e0ea);
	border-radius: 10px;
	padding-top: 16px;
	position: relative;
}
.reg-type:after{
	position: absolute;
	content: '';
	background: url(../img/sprites.png)no-repeat -185px -117px;
	width: 69px;
	height: 58px;
	top: -21px;
	right: -32px;
}
.reg-type .title{
	font-weight: bold;
	color: #504f4c;
	font-size: 17px;;
}
.reg-type a:first-of-type{
	display: inline-block;
	border: 0;
	outline: none;
	background: #a8d100;
	background: -webkit-linear-gradient(top, #a8d100, #7eb000);
	background: -moz-linear-gradient(top, #a8d100, #7eb000);
	background: -ms-linear-gradient(top, #a8d100, #7eb000);
	background: linear-gradient(top, #a8d100, #7eb000);
	color: #fff;
	vertical-align: top;
	width: 198px;
	height: 36px;
	text-transform: capitalize;
	font-size: 15px;
	border-radius: 10px;
	margin-top: 22px;
	padding-top: 8px;
	text-decoration: none;
}
.reg-type a:first-of-type:hover{
	background: #7eb000;
}
.reg-type a:last-child{
	display: inline-block;
	border: 0;
	outline: none;
	background: #ffba00;
	background: -webkit-linear-gradient(top, #ffba00, #f49200);
	background: -moz-linear-gradient(top, #ffba00, #f49200);
	background: -ms-linear-gradient(top, #ffba00, #f49200);
	background: linear-gradient(top, #ffba00, #f49200);
	vertical-align: top;
	width: 198px;
	height: 36px;
	font-size: 15px;
	border-radius: 10px;
	margin-top: 7px;
	padding-top: 8px;
	text-decoration: none;
	color: #fff;
}
.reg-type a:last-child:hover{
	background: #f49200;
}
.pagination{
	color: #504f4c;
	text-align: center;
	margin-top: 4px;
	padding-top: 10px;
	font-size: 13px;
}
.pagination ul{
	padding: 0;
	margin: -6px 0 0 10px;
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
}
.pagination ul li{
	display: inline-block;
	vertical-align: top;
	margin: 0 4px 0 0;
}
.pagination ul li a{
	display: inline-block;
	vertical-align: top;
	padding: 7px 0;
	color: #fff;
	background: #a8d100;
	border-radius: 11px;
	background: -webkit-linear-gradient(top, #a8d100, #7eb000);
	background: -moz-linear-gradient(top, #a8d100, #7eb000);
	background: -ms-linear-gradient(top, #a8d100, #7eb000);
	background: linear-gradient(top, #a8d100, #7eb000);
	text-decoration: none;
	min-width: 30px;
	text-align: center;
}
.pagination ul li a:hover{
	background: #7eb000;
}
.pagination ul li a.active{
	background: #b0b0b0;
	background: -webkit-linear-gradient(top, #bebebe, #b0b0b0);
	background: -moz-linear-gradient(top, #bebebe, #b0b0b0);
	background: -ms-linear-gradient(top, #bebebe, #b0b0b0);
	background: linear-gradient(top, #bebebe, #b0b0b0);
}


/* search result */

.search-results{
	margin-top: 38px;
}
.search-results:after{
	content: '';
	display: inline-block;
	width: 100%;
	height: 0px;
	visibility: hidden;
}
.cart{
	display: inline-block;
	vertical-align: top;
	width: 195px;
	border: 1px solid #58c8dd;
	padding: 9px 9px 14px;
	border-radius: 10px;
	margin-bottom: 35px;
	margin-right: 26px;
}
.cart-img{
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	height: 173px;
}
.cart-img img{
	position: relative;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.cart a{
	color: #0490ad;
	font-size: 18px;
	display: block;
	margin: 20px 6px 11px;
}
.cart a:hover{
	text-decoration: none;
}

.cart p{
	color: #2f2e2c;
	margin: 0px 6px 3px;
	font-size: 13px;
}
.aside-search{
	margin-top: -87px;
	text-align: right;
	position: relative;
}
.aside-search:after{
	position: absolute;
	content: '';
	top: 5px;
	right: 10px;
	background: url(../img/search-icon.png) no-repeat;
	width: 28px;
	height: 28px;
}
.aside-search a{
	display: inline-block;
	text-align: left;
	color: #fff;
	text-decoration: none;
	background: #80b100;
	background: -webkit-linear-gradient(top, #a7d000, #80b100);
	background: -moz-linear-gradient(top, #a7d000, #80b100);
	background: -ms-linear-gradient(top, #a7d000, #80b100);
	background: linear-gradient(top, #a7d000, #80b100);
	border: 2px solid #55651d;
	border-radius: 20px;
	width: 191px;
	height: 40px;
	font-weight: bold;
	padding: 9px 0 0 23px;
}
.aside-search a:hover{
	background: #80b100;
}




/* about us */

.info-page {
	font-size: 13px;
	color:#2f2e2c;
	line-height:18px;
}
.info-page article{
	margin-top: 47px;
	padding-right: 35px;
}
.info-page article p{
	margin-bottom: 18px;
}
.info-page article .blue-block{
	background: #daf7f7;
	color: #677d7d;
	width: 497px;
	margin: 25px 0 25px 48px;
	padding: 15px 15px 17px 19px;
	border-radius: 10px;
}
.info-page article h2{
	color: #fd7c1e;
	font-size: 22px;
	margin: 57px 0 29px;
}
.info-page article ol{
  list-style-type: none;
  counter-reset: num;
  margin: 28px 0;
  padding: 0 0 0 36px;
}
.info-page article ol li{
	margin-bottom: 18px;
	position: relative;
}
.info-page article ol li::before {
	top: 0;
	left: -17px;
	position: absolute;
    content: counter(num) '. ';
    counter-increment: num;
    color: #fd7c1e;
}
.info-page article h3{
	font-size: 18px;
	margin: 57px 0 30px;
	display: block;
}
.info-page article ul{
  list-style-type: none;
  margin: 28px 0;
  padding: 0 0 0 36px;
}
.info-page article ul li{
	margin-bottom: 18px;
	position: relative;
}
.info-page article ul li::before {
	top: 5px;
	left: -14px;
	position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fd7c1e;
}

/*animal*/
.back-link{
	margin-top: 35px;
	color: #0490ad;
	font-size: 13px;
	display: block;
}
.back-link{
	text-decoration: none;
}

.animal{
	margin-top: 22px;
}
.animal-main-img{
	width: 313px;
	height: 313px;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
}
.animal-main-img a{
	position: relative;
	display: inline-block;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.animal-small-img{
	text-align: justify;
	margin-top: 13px;
}
.animal-small-img a{
	display: inline-block;
	width: 97px;
	height: 97px;
	overflow: hidden;
	border-radius: 10px;
}
.animal-small-img a img{
	position: relative;
	display: inline-block;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.animal-small-img:after{
	display: inline-block;
	content: '';
	height: 0;
	visibility: hidden;
	width: 100%;
	margin: -10px 0 0;
	line-height: 0;
	padding: 0;
}
.animal-foto-block{
	float: left;
}
.animal-foto-desc{
	margin-left: 344px;
}
.animal-social a:first-of-type{
	display: inline-block;
	background: url(../img/sprites.png) no-repeat -12px -123px;
	width: 52px;
	height: 52px;
	margin-left: 5px;
}
.animal-social a:nth-of-type(2){
	display: inline-block;
	background: url(../img/sprites.png) no-repeat -104px -123px;
	width: 52px;
	height: 52px;
	margin-left: 10px;
}
.animal-social a:nth-of-type(3){
	display: inline-block;
	background: url(../img/sprites.png) no-repeat -115px -21px;
	width: 52px;
	height: 52px;
	margin-left: 14px;
}
.animal-social{
	margin-top: -8px;
	font-weight: bold;
	font-size: 18px;
}
.animal-foto-desc h3{
	color: #0490ad;
	font-size: 20px;
	margin-bottom: 23px;
}
.animal-foto-desc h3:nth-of-type(2){
	margin-top: 65px
}
.aside-take-animal{
	background: #d1ee8e;
	background: -webkit-linear-gradient(170deg, #edffde, #d1ee8e);
	background: -moz-linear-gradient(170deg, #edffde, #d1ee8e);
	background: -ms-linear-gradient(170deg, #edffde, #d1ee8e);
	background: linear-gradient(170deg, #edffde, #d1ee8e);
	border-radius: 10px;
	text-align: center;
	padding-top: 1px;
	margin-top: 18px;
	padding-bottom: 1px;
}
.aside-take-animal p{
	font-style: italic;
	color: #504f4c;
	line-height: 23px;
	margin-top: 13px;
	margin-bottom: 0;
}
.animal-foto-desc p{
	font-size: 13px;
	line-height: 18px;
}
.aside-take-animal a{
	background: #a8d100;
	background: -webkit-linear-gradient(top, #a8d100, #7eb000);
	background: -moz-linear-gradient(top, #a8d100, #7eb000);
	background: -ms-linear-gradient(top, #a8d100, #7eb000);
	background: linear-gradient(top, #a8d100, #7eb000);
	width: 171px;
	height: 30px;
	border-radius: 10px;
	color: #fff;
	text-align: center;
	margin: 12px auto 17px;
	display: block;
	text-decoration: none;
	font-size: 14px;
	padding-top: 6px;
}
.aside-take-animal a:hover{
	background: #7eb000;
}
.aside-adress{
	margin-top: 20px;
	padding-left: 25px;
	background: #ffe19b;
	background: -webkit-linear-gradient(left, #edffde, #ffe19b);
	background: -moz-linear-gradient(left, #edffde, #ffe19b);
	background: -ms-linear-gradient(left, #edffde, #ffe19b);
	background: linear-gradient(left, #edffde, #ffe19b);
	border-radius: 10px;
	padding-top: 20px;
	margin-top: 29px;
	padding-bottom: 37px;
	position: relative;
}
.aside-adress .title{
	color: #504f4c;
	font-weight: bold;
	margin-bottom: 20px;
}
.aside-adress p{
	margin: 0 0 9px 0;
	font-size: 13px;
}
.aside-adress p a{
	color: #0490ad;
}
.aside-adress p a:hover{
	text-decoration: none;
}
.aside-adress:after{
	position: absolute;
	content: '';
	background: url(../img/sprites.png) no-repeat -178px -16px;
	width: 92px;
	height: 49px;
	top: -10px;
	right: -15px;
}
.aside-search.animal{
	margin: 10px 0;
}
/* mobile */

@media screen and (max-width: 939px){
	.header-container{
		width: 768px;
	}
	.header-nav{
		width: 768px;
	}
	.content-container{
		width: 768px;
		padding: 0 5px 131px;
	}
	.subscribe-form input{
		width: 180px;
		margin-left: 11px;
	}
	.banner img{
		width: 100%;
	}
	footer{
		width: 768px;
		margin-left: -384px;
		background-position: -119px bottom;
	}
	.info-page article .blue-block{
		  width: auto;
		  max-width: 500px;
  		  margin: 25px auto 48px;
	}
	.info-page article{
		padding-right: 0;
	}
	.search-results{
		text-align: center;
	}
	.cart{
		margin: 0 10px 35px;
		text-align: left;
	}
	.subscribe-form button{
		margin-left: 34px;
	}
}
@media screen and (max-width: 767px){
	.header-container{
		width: auto;
		min-width: 320px;
	}
	.header-nav{
		width: auto;
		min-width: 320px;
	}
	.content-container{
		width: auto;
		min-width: 320px;
		padding: 0 5px 131px;
	}
	.main{
		width: auto;
	}
	.all-news{
		margin: 16px auto 0;
	}
	aside{
		display: none;
	}
	footer{
		width: 100%;
		min-width: 320px;
		left: 0;
		margin-left: 0;
	}
	.login .login-tab input{
		display: block;
		margin: 10px auto!important;
	}
	.login .login-tab button{
		display: block;
		margin: 10px auto!important;
	}


}
@media screen and (max-width: 599px){
	.selects-wrapper>div{
		display: table!important;
		margin: 5px auto!important;
	}
	.selects-wrapper br{
		display: none;
	}
	.header-container .logo{
		margin-left: 0;
	}
	.tab{
		padding-bottom: 60px;
		background-position: right bottom;
		margin: 0;
	}
	.tab button{
		left: 50%;
		margin-left: -86px;
	}
	.main-news article{
		text-align: center
	}
	.main-news article img{
		float: none;
		display: inline-block;
		margin: 0;
	}
	.content-container{
		padding: 0 10px 131px;
	}
	.about-us{
		padding-right: 0;
	}
	nav {
		display: block;
	}
	nav ul{
		display: block;
		margin: 0;
	}
	nav li{
		display: block;
		text-align: center;
		border: 0;
	}
	nav li:before,
	nav li:after{
		display: none;
	}
	.header-title{
		display: none;
	}
	.form-tabs-button label{
		display: block;
		border-radius: 0;
		text-align: center;
		margin: 0!important;
	}
	.form-tabs-button label:first-child{
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
	}
	.animal-foto-block{
		float: none;
		width: 312px;
		margin: 0 auto;
	}
	.animal-foto-desc{
		margin-left: 0;
	}
	.forget-pass{
		margin: 7px;
	}
	.login label{
		display: block;
		width: 100%;
		text-align: center;
	}
	.login label:nth-of-type(2){
		border-radius: 0;
	}
}
@media screen and (max-width: 400px){
	.header-container .logo{
		background-size: 100% auto;
		width: 150px;
		margin-left: 0;
	}
	.animal-foto-block{
		width: 300px;
	}
	.animal-main-img{
		width: 100%;
	}
}
